.detail__container {
  position: relative;
  min-height: calc(100vh - 250px);
  overflow: hidden;
  display: block;
  top: 72px;
  padding: 0 calc(3.5vw + 5px);
}

.detail__background {
  left: 0;
  opacity: 0.8;
  position: fixed;
  right: 0px;
  top: 0;
  z-index: -1;
}

.detail__background img {
  width: 100vw;
  height: 100vh;
}

@media screen and (max-width: 768px) {
  .detail__background img {
    width: initial;
  }
}
.detail__imgtitle {
  display: flex;
  align-items: flex-end;
  -webkit-box-pack: start;
  justify-content: flex-start;
  margin: 0 auto;
  height: 30vw;
  min-height: 170px;
  padding-bottom: 24px;
  width: 100%;
}

.detail__imgtitle img {
  max-width: 600px;
  min-width: 200px;
  width: 35vw;
}

.details__content {
  max-width: 874px;
}

.details__controls {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  margin: 24px 0;
  min-height: 56px;
}

.detail__player {
  font-size: 15px;
  margin: 0 22px 0 0;
  padding: 0 24px;
  height: 56px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  letter-spacing: 1.8px;
  text-align: center;
  text-transform: uppercase;
  background: rgb(249, 249, 249);
  border: none;
  color: rgb(0, 0, 0);
}

.detail__player img {
  width: 32px;
}

.detail__player:hover {
  background: rgb(198, 198, 198);
}

@media screen and (max-width: 768px) {
  .detail__player {
    height: 45px;
    padding: 0 12px;
    font-size: 12px;
    margin: 0 10px 0 0;
  }

  .detail__player img {
    width: 25px;
  }
}

.detail__trailer {
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid rgb(249, 249, 249);
  color: rgb(249, 249, 249);
}

.details__addlist {
  margin-right: 16px;
  height: 44px;
  width: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer;
}

.details__addlist span {
  background-color: rgb(249, 249, 249);
  display: inline-block;
}

.details__addlist span:first-child {
  height: 2px;
  transform: translate(1px, 0px) rotate(0deg);
  width: 16px;
}

.details__addlist span:nth-child(2) {
  height: 16px;
  transform: translateX(-8px) rotate(0deg);
  width: 2px;
}

.details__subtitle {
  color: rgb(249, 249, 249);
  font-size: 15px;
  min-height: 20px;
}

.details__description {
  line-height: 1.4;
  font-size: 20px;
  padding: 16px;
  color: rgb(249, 249, 249);
}

@media screen and (max-width: 768px) {
  .details__subtitle {
    font-size: 12px;
  }

  .details__description {
    font-size: 14px;
  }
}
